frontend/node_modules
descriptionai/descriptionservice/service/__pycache__
descriptionai/descriptionservice/__pycache__
descriptionai/descriptionservice/bin
descriptionai/descriptionservice/include
descriptionai/descriptionservice/lib
.env
backendv2/app/__pycache__