body {
  /* 
    padding: 0;
  */
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  margin: 0;
  background-color: #f1e8e6;
  width: auto;
}

h1 {
  font-family: "Poppins", sans-serif;
}
.content-wrapper {
  flex: 1; /* This allows the content to grow and consume available space, pushing the footer down */
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-family: "Poppins", sans-serif;
  color: #361d32;
  font-size: 18px;
}

.tag {
  background-color: white;
}

.tagline {
  color: #543c52;
  font-size: 20px;
  font-style: italic;
  margin: 10px;
  background-color: #fff;
}

.tagline1 {
  color: #543c52;
  font-size: 16px;
  text-align: center;
  background-color: #f4f4f4;
}

/* LoginRegister */

.main-login-register {
  background-color: #f1e8e6;
}

.login-register-title {
  color: #361d32;
  font-size: 24px;
  margin: 10px;
  text-align: center;
}

.register-form .login-register-input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 95%;
  margin-bottom: 25px;
}

.eye-icon {
  cursor: pointer;
  position: absolute;
  top: 58%;
  right: 380px;
  transform: translateY(-50%);
  color: #361d32; /* Adjust the color as needed */
}

.login-register {
  font-family: "Poppins", sans-serif;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  padding: auto;
}

.login-form input,
.register-form input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 95%;
  margin-bottom: 25px;
}

.login-form input:focus,
.register-form input:focus {
  border-color: #361d32;
}

.submit-btn {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  background-color: #f55951;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.signup-btn {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  background-color: #f55951;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.submit-btn:hover {
  background-color: #543c52;
}

/* Home */
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  background-color: #edd2cb; /* Maroon */
  color: #361d32; /* Gold */
  padding: 10px 0;
  text-align: center;
  height: fit-content;
}

.login-container {
  background-color: #edd2cb; /* Maroon */
  color: #361d32; /* Gold */
  padding: 60px 0;
  text-align: center;
  height: fit-content;
}

.cta-btn {
  font-family: "Poppins", sans-serif;
  background-color: #f55951; /* Gold */
  color: #fff; /* Maroon */
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.cta-btn:hover {
  background-color: #543c52;
}

.stats {
  background-color: #f1e8e6;
  padding: 50px 0;
  text-align: center;
  color: #361d32;
}

.statistics {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.stat-item {
  flex: 1;
  padding: 10px;
}

.stat-item strong {
  display: block;
  font-size: 24px;
  color: #361d32; /* Maroon */
}

.testimonials {
  background-color: #f5f5f5;
  padding: 50px 0;
  text-align: center;
  color: #361d32;
}

.testimonial-card {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
  background-color: #361d32;
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
  width: 100%; /* Ensure it spans the full width */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  color: #fff; /* Gold */
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-item {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-item:hover {
  color: #f55951; /* Gold hover effect */
}

.footer-copyright {
  text-align: center;
  color: white;
  padding-top: 10px;
}

/* NavBar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #361d32; /* Maroon inspired by Texas State University */
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-logo {
  color: #fff; /* Gold inspired by Texas State University */
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  margin-left: 10px;
}

.nav-search {
  flex: 1;
  margin: 0 20px;
}

.nav-search input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  color: #f55951; /* Maroon text on hover */
  cursor: pointer;
}

.user-profile-icon {
  font-size: 24px;
  background-color: #e7f7fe;
  border-radius: 50%;
  padding: 5px 10px;
}

.user-profile-container {
  padding: 20px;
}

.nav-user {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column; /* Set the direction to column */
  width: 200px; /* Set the desired width */
  background-color: #fff; /* Add your preferred background color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a box shadow for styling */
  border-radius: 4px; /* Add border-radius for rounded corners */
  z-index: 1;
}

.dropdown-item {
  padding: 8px 12px;
  text-decoration: none;
  color: #361d32; /* Add your preferred text color */
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #ededed; /* Add a background color for hover effect */
  cursor: pointer;
}

.submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 2; /* Set a higher z-index */
}

.submenu-item {
  padding: 8px 12px;
  text-decoration: none;
  color: #361d32;
  font-style: normal;
  transition: background-color 0.3s;
}

.submenu-item:hover {
  background-color: #ededed;
  cursor: pointer;
}

/* ContactForm */
.contact-form {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: #f1e8e6;
  height: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  height: 100%;
}

.contact-form h2 {
  color: #361d32;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.contact-form .card-form {
  border: 1.5px solid #ccc;
  width: 70%; /* Set the width of the form if needed */
  padding: 30px;
  margin-bottom: 250px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.contact-form button {
  font-family: "Poppins", sans-serif;
  background-color: #f55951;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  align-content: center;
}

.contact-form button:hover {
  background-color: #543c52;
}

/* FAQ */
.faq-container {
  padding-top: 20px;
  height: 100%;
}
.faq {
  padding: 20px;
  background-color: #fff;
}

.faq h2 {
  color: #054957;
  font-size: 24px;
}

.faq-item {
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.faq-item h3 {
  color: #054957; /* Maroon */
}

/* About */
.about {
  padding: 20px;
  background-color: #fff;
  padding-top: 20px;
}

.about h2 {
  color: #543c52;
  font-size: 22px;
}

.about p {
  color: #333;
  margin-bottom: 20px;
}

.about img {
  max-width: 100%;
}

/* HowItWorks */
.how-it-works {
  padding: 20px;
  background-color: #fff;
  padding-top: 100px;
  height: 100%;
}

.how-it-works h2 {
  color: #361d32;
  font-size: 22px;
}

.how-it-works ol {
  color: #333;
  margin-bottom: 20px;
}

.how-it-works ol li {
  margin-bottom: 10px;
}

.how-it-works img {
  max-width: 100%;
}

/* Chat */
.chat {
  display: flex;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  max-height: 75vh;
  border: 1.5px solid #ccc;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  width: 30vw;
}

.message-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
  flex-grow: 1;
  background-color: #ededed;
}

.message {
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
  align-self: flex-start; /* Align messages to the start by default */
}

.my-message {
  background-color: #edd2cb;
  color: #361d32;
  align-self: flex-end; /* Align your messages to the end */
  border-bottom-right-radius: 0;
}

.other-message {
  background-color: #361d32;
  color: white;
  border-bottom-left-radius: 0;
}

.message-content {
  word-break: break-word;
}

.message-sender-name {
  margin-bottom: 5px;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1.5px solid #ccc;
}

.chat-input input {
  font-family: "Poppins", sans-serif;
  flex-grow: 1;
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
}

.chat-input button {
  background-color: #f55951;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px; /* Adjust font size as needed */
}

.chat-input button:hover {
  background-color: #543c52;
}

.chat-input button::after {
  content: "➤"; /* Unicode right arrow */
  display: inline-block;
  margin-left: 5px;
}

/*User Profile*/
.user-profile-container {
  background-color: #543c52;
}

.user-profile {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1.5px solid #f55951;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #edd2cb;
}

.cover-photo {
  height: 200px; /* Adjust height as needed */
  background-image: url("path/to/your/cover/photo.jpg");
  background-size: cover;
  background-position: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; /* Adjust margin to position the profile container */
}

.profile-photo {
  width: 120px; /* Adjust size as needed */
  height: 120px; /* Adjust size as needed */
  border-radius: 50%;
  background-image: url("path/to/your/profile/photo.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.profile-form label {
  display: block;
  margin-bottom: 10px;
}

.cover-photo {
  position: relative;
}

.cover-photo .cover-photo-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -50px;
  padding: 20px;
}

.profile-pic {
  position: absolute; /* Absolute position relative to the nearest positioned ancestor (here, .user-profile) */
  bottom: -100px; /* Half the height to make it overlap the cover photo */
  left: 20px; /* Spacing from the left side */
  width: 200px; /* Size of the profile picture */
  height: 200px; /* Size of the profile picture */
  border-radius: 50%;
  border: 3px solid #fff; /* White border to separate from cover photo */
  background-color: #fff; /* Fallback color */
}

.inputField {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 95%;
  margin-bottom: 25px;
}

/*Chat*/
.chat-profile-pic {
  width: 100px; /* Size of the profile picture */
  height: 100px; /* Size of the profile picture */
  border-radius: 50%;
}
