/* styles.css */

.main-claim-container {
  padding: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #543c52;
  display: flex;
  flex-direction: row;
}

.claim-container {
  flex: 2;
  overflow-y: auto;
  max-height: 75vh;
  padding: 5px;
}

.chat-container {
  flex: 1;
  background-color: #543c52;
  border: none;
}
/* Styles for the app container */

/* Styles for the heading */
.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f55951;
  text-align: center;
}

/* Styles for the donation list container */
.donation-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Styles for the donation card */
.card {
  border: 1.5px solid #361d32;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  width: 600px;
  background-color: #fff;
  cursor: pointer;
}

/* Styles for text elements */
.text {
  margin: 5px 0;
}

.no-history-image {
  width: 120px;
  height: 120px;
}
