/* ChatList.css */
.main-chat {
  display: flex;
  justify-content: center;
}

.chat-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 85vh;
}
.chat-component-container {
  flex: 2;
  margin-top: 15px;
}

.chat-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.chat-list {
  list-style-type: none;
  padding: 20px;
  background-color: #543c52;
  text-decoration: none;
}

.chat-item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.chat-message {
  margin-top: 5px;
}

.chat-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

.no-chats-message {
  font-size: 2rem;
  color: #361d32;
  text-align: center;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
